@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Ingrese los datos del empleado.</p>
    
    <form asp-action="datosEmpleado" method="post">
        <div class="input-group">
            <span class="input-group-text">Nombre y Apellido</span>
            <input type="text" aria-label="First name" class="form-control" id="nombre" name="nombre">
            <input type="text" aria-label="Last name" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="row mb-3">
            <label for="fechaNac" class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fechaNac" name="fechaNac">
            </div>
        </div>
        <div class="row mb-3">
            <label for="tel" class="col-sm-2 col-form-label">Num de telefono</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="tel" name="tel">
            </div>
        </div>
        <div class="row mb-3">
            <label for="direc" class="col-sm-2 col-form-label">Dirección de Domicilio</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="direc" name="direc">
            </div>
        </div>
        <div class="row mb-3">
            <label for="puesto" class="col-sm-2 col-form-label">Puesto de Trabajo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="puesto" name="puesto">
            </div>
        </div>
        <div class="row mb-3">
            <label for="fechaIngreso" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
</div>
